@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        1. Dichiarare una variabile valorizzandola con il nostro nome.
        Dichiarare un'altra variabile valorizzandola con il nostro cognome.
        Stampare il nostro nome e cognome all'interno di un tag h2.
    </p>

    @{
        string nome = "Emanuele";
        string cognome = "Mingione";
    }

    <h2>@nome @cognome</h2>


    <p>
        2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
        Stampare dentro uno span il risultato.
    </p>

    @{
        int numeri = new Random().Next(1, 100);
        int sum = 0;
        for (int i = 0; i <= numeri; i++)
        {
            sum += i;
        }
    }

    <span>@sum</span>


    <p>
        3.Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
    </p>

    @{
        string fraseDivinaCommedia = "Nel mezzo del cammin di nostra vita";
        string letteraDivinaCommedia = "a";
        int numberoLetteraA = fraseDivinaCommedia.Split(letteraDivinaCommedia).Length - 1;
    }

    <p>Nella frase @fraseDivinaCommedia la lettera "a" viene ripetuta @numberoLetteraA volte</p>
    
</div>
 