     <main class="sfondo-pizza">
        <div class="container mt-5 text-light bg-danger bg-opacity-25 rounded-3">
            <div class="row">
                <div class="col-12">
                    <h3>Le Mie Pizze</h3>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">

                    <table class="table table-striped text-light">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">IMMAGINE</th>
                                <th scope="col">NOME</th>
                                <th scope="col">DESCRIZIONE</th>
                                <th scope="col">PREZZO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-light">1</th>
                                <td><img class="img-fluid img_square" width="150px" height="150px" src="https://vitaitaliantours.com/wp-content/uploads/2016/03/Neapolitan-Pizza-Margherita.jpg" alt="Margherita"></td>
                                <td class="text-light">Margherita</td>
                                <td class="text-light">
                                    La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio; è la più popolare pizza italiana.
                                    Rappresenta sicuramente il simbolo per antonomasia del patrimonio culturale e culinario italiano, diffusa per la sua fama in tutto il mondo.
                                </td>
                                <td class="text-light">&euro; 3,50</td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-light">2</th>
                                <td><img class="img-fluid img_square" width="150px" height="200px" src="https://www.silviocicchi.com/pizzachef/wp-content/uploads/2015/03/d2-300x200.jpg" alt="Diavola"></td>
                                <td class="text-light">Diavola</td>
                                <td class="text-light">
                                    Pomodoro San Marzano DOP, ombra di pomodoro del Piennolo arrostito, Fior di latte molisano, cubetti di salamella croccante, fili di peperoncino, olio evo e basilico
                                </td>
                                <td class="text-light">&euro; 5,00</td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-light">3</th>
                                <td><img class="img-fluid img_square" width="150px" height="200px" src="https://www.basilicoepepe.it/wp-content/uploads/2022/10/Primavera124-1536x1022.jpg" alt="primavera"></td>
                                <td class="text-light">Primavera</td>
                                <td class="text-light">
                                    Fior di latte molisano, rucola, pomodoro datterino (a crudo), prosciutto crudo, scaglie di Grana Padano DOP 24mesi e olio evo.
                                </td>
                                <td class="text-light">&euro; 6,50</td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-light">4</th>
                                <td><img class="img-fluid img_square" width="150px" height="200px" src="https://www.basilicoepepe.it/wp-content/uploads/2022/10/contadina78-600x399.jpg" alt="contadina"></td>
                                <td class="text-light">Contadina</td>
                                <td class="text-light">
                                    Fior di latte molisano, patate al forno, salsiccia fresca,
                                    provola affumicata e olio evo
                                </td>
                                <td class="text-light">&euro; 8,00</td>
                            </tr>

                      

                      </tbody>     
                    </table>

                </div>
            </div>
        </div>


    </main>


   <footer>
        
   </footer>

